<div class="payment-info">
  <form id="payment-form" method="post">
    <div class="payment-errors"></div>

    <h4>Payment data:</h4>
    <div id="card-details" class="payment-block">
      <div class="card-fields">
        <label for="card-number">Credit Card Number:</label>
        <input id="card-number" type="text" data-stripe="number"
        placeholder="0000 0000 0000 0000"
        [textMask]="{mask: cardNumberMask}"
        name="cardNumber" [(ngModel)]="cardNumber">
        <label for="card-month-year">Expires:</label>
        <input id="card-month-year" type="text" placeholder="00/0000"
        [textMask]="{mask: expiresMask}"
        name="expires" [(ngModel)]="expires">
      </div>

      <div class="card-fields">
        <label for="card-holder">Cardholder name:</label>
        <input id="card-holder" type="text" placeholder="CARD HOLDER"
        [textMask]="{mask: cardholderNameMask}"
        name="cardholderName" [(ngModel)]="cardholderName">
        <label for="card-cvc">CVC / CVV:</label>
        <input id="card-cvc" type="text" data-stripe="cvc" placeholder="cvc"
        [textMask]="{mask: cvvMask}"
        name="cvv" [(ngModel)]="cvv">
      </div>
    </div>
    <input type="submit" class="button button-centered" id="upgrade-button"
           *ngIf="price" value="Pay €{{price}}" onclick="doPay()">
  </form>
</div>

<h5>Payments</h5>

<history></history>
