<h5>Mentors</h5>
<ul class="mentors-list">
  <li class="clearfix">
    <a href="https://mkdev.me/en/dashboard/account#" data-mentor-id="22"
       data-prices="{&quot;1&quot;:{&quot;normal&quot;:5000,&quot;upgrade&quot;:3000},&quot;2&quot;:{&quot;normal&quot;:9000,&quot;upgrade&quot;:7000},&quot;3&quot;:{&quot;normal&quot;:13000,&quot;upgrade&quot;:11000},&quot;4&quot;:{&quot;normal&quot;:16000,&quot;upgrade&quot;:0}}"
       data-course-ids="[1, 3, 9]">
      Person #1 from €40/week
    </a>
  </li>
  <li class="clearfix">
    <a href="https://mkdev.me/en/dashboard/account#" data-mentor-id="281"
       data-prices="{&quot;1&quot;:{&quot;normal&quot;:5000,&quot;upgrade&quot;:3000},&quot;2&quot;:{&quot;normal&quot;:9000,&quot;upgrade&quot;:7000},&quot;3&quot;:{&quot;normal&quot;:13000,&quot;upgrade&quot;:11000},&quot;4&quot;:{&quot;normal&quot;:16000,&quot;upgrade&quot;:0}}"
       data-course-ids="[8]">
      Person #2 from €40/week
    </a>
  </li>
  <li class="clearfix">
    <a href="https://mkdev.me/en/dashboard/account#" data-mentor-id="454"
       data-prices="{&quot;1&quot;:{&quot;normal&quot;:8000,&quot;upgrade&quot;:7000},&quot;2&quot;:{&quot;normal&quot;:15000,&quot;upgrade&quot;:13000},&quot;3&quot;:{&quot;normal&quot;:21000,&quot;upgrade&quot;:20000},&quot;4&quot;:{&quot;normal&quot;:28000,&quot;upgrade&quot;:0}}"
       data-course-ids="[5]">
      Person #3 from €70/week
    </a>
  </li>
  <li class="clearfix">
    <a href="https://mkdev.me/en/dashboard/account#" data-mentor-id="717"
       data-prices="{&quot;1&quot;:{&quot;normal&quot;:4500,&quot;upgrade&quot;:2300},&quot;2&quot;:{&quot;normal&quot;:8000,&quot;upgrade&quot;:5500},&quot;3&quot;:{&quot;normal&quot;:11200,&quot;upgrade&quot;:9000},&quot;4&quot;:{&quot;normal&quot;:13500,&quot;upgrade&quot;:0}}"
       data-course-ids="[1, 3]">
      Person #4 from €33/week
    </a>
  </li>
  <li class="clearfix">
    <a href="https://mkdev.me/en/dashboard/account#" data-mentor-id="764"
       data-prices="{&quot;1&quot;:{&quot;normal&quot;:4500,&quot;upgrade&quot;:2300},&quot;2&quot;:{&quot;normal&quot;:8000,&quot;upgrade&quot;:5500},&quot;3&quot;:{&quot;normal&quot;:11200,&quot;upgrade&quot;:9000},&quot;4&quot;:{&quot;normal&quot;:13500,&quot;upgrade&quot;:0}}"
       data-course-ids="[10]">
      Person #5 from €33/week
    </a>
  </li>
</ul>
