<div id="container">
  <div class="payment-info">

    <div class="margin-block">
      <a name="whoIsYourMentor"></a>
      <h4>Who Is Your Mentor?</h4>
      <p class="without-indent">
        Pick a mentor from the list to see the price and available courses. More about mentors read at
        <span><a href="https://mkdev.me/en/mentors">mentors pages</a></span>.
      </p>
    </div>

    <subscription (setPrice)="onPriceSet($event)"></subscription>

  </div>

  <payment [price]="price"></payment>

</div>
