<h4 id="notice-header">Choose </h4>
<p class="slider-notice without-indent">
  <i id="notice-text">Move the slider to choose a suitable subscription term</i>
</p>

<div
  class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ui-state-disabled ui-slider-disabled"
  id="slider">
  <label style="left: 25%;"></label>
  <label style="left: 50%;"></label>
  <label style="left: 75%;"></label>
  <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
  <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
</div>
