<div class="mentor-selector clearfix">
  <div class="pull-left">

    <mentors
      [mentorList]="mentors"
      [selectedCourse]="selectedCourse"
      (selectMentor)="onMentorSelected($event)"></mentors>

  </div>
  <div class="pull-left">

    <courses
      [courseList]="courses"
      [selectedMentor]="selectedMentor"
      (selectCourse)="onCourseSelected($event)"></courses>

  </div>
</div>

<form id="subscription-form" method="post">

  <duration></duration>

  <dl class="payment-summary clearfix">
    <dd class="sum-to-pay-header">
      Coupon:
    </dd>
    <dt>
      <div id="coupon-code-block">
        <input type="text" name="coupon_code" id="coupon_code">
      </div>
      <span class="coupon-default"></span>
    </dt>
    <dd class="sum-to-pay-header">
      Total:
    </dd>
    <dt class="sum-to-pay">
    <div>
      <span class="sum-default">First choose a mentor</span>
    </div>
    </dt>
  </dl>
</form>
